body, html {
	padding: 0;
	margin: 0;
	font-family: 'Alegreya SC', serif;
	color: #0D1F2D;
}

ul, li {
	padding: 0;
	margin: 0;
}







.line {
	width: 70%;
	max-width: 1500px;
}

.linediv {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 25px;

}

h2 {
	font-size: 32px;
}

.start {
	padding-top: 5px;
}

.about {
	font-size: 20px;
}

.disc__name {
	margin-top: 20px;
	margin-bottom: 55px;
}

.fotorama {
	margin: 0 auto;
}

.disc, .main {
	text-align: center;
}

.box {
	width: 100%;
}

.box a {
	color: black;
}

.box a:hover {
	color: #0080FF;
	transition: all 0.4s ease;

}

.box {
	position: fixed;
	top: -65px;
	transition: top 2s;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.box div {
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	padding: 5px 20px;
}

.box div .borderLeft {
	border-left: 1px transparent solid; 
}

.box div .borderRight {
	border-right: 1px black solid; 
}

.box div .near {
	width: 180px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.new {
	top: 5px;
	transition: top 1s;
}

#back-top {
	position: fixed;
	bottom: 20px;
	margin-left: 30px;
}
#back-top a {
	width: 85px;
	display: block;
	text-align: center;
	font: 12px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #587B7F;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

#back-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#back-top span {
	width: 85px;
	height: 85px;
	display: block;
	margin-bottom: 7px;
	background-size: 25px 25px;
	background: grey url(up-arrow.png) no-repeat 50% 50%;
	box-shadow: 0 10px 6px -6px #090974;
	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: black;
}

/*
.first-section {
	max-height: 500px;
}
*/



.first-call {
	font-size: 1.7rem;
	margin: 5px 10px;
	text-align: center;
}

.second-call {
	font-size: 1.2rem;
}

.second-call h1 {
	padding: 10px;
}

.second-call__text {
	font-size: 1.3rem;
}

.second-call__text,
.second-call__button {
	margin: 0 20px;
}

.second-call__button {
	text-align: center;
}

.second-call__button button {
	width: 100%;
	border: 1px solid black;
	text-align: center;
	padding: 20px 10px;
	margin-top: 40px;
	background-color: #FF9200;
	color: white;
}

.second-call__button button:hover {
	cursor: pointer;
	background-color: #FF9200;
	color: white;
	box-shadow: 0 10px 6px -6px #777;
	transition: all 0.5s ease 0s;
}

.second-section {
	margin-top: 30px;
	padding: 20px 0;
	background-color: #2E2E2E;
	color: white;
}

.service-list {
	text-align: center;
	padding: 10px 0;
}

.service-list h2 {
	font-size: 35px;
}

.second-section__button  {
	text-align: center;
}

.second-section__button button {
	width: 100%;
	border: 1px solid black;
	text-align: center;
	padding: 15px 0px;
	margin: 20px 0;
	color: white;
	background-color: #FF9200;
	font-size: 1.5rem;
}

.second-section__button button:hover {
	cursor: pointer;
	box-shadow: 0 10px 6px -6px black;
	transition: all 0.5s ease 0s;
}


	




.work-plan-image img {
	width: 100%;	
}	
	/*background-image: url(plan.png);
	background-repeat: no-repeat;
	background-position: 47% 50%;
	background-size: cover;
}*/

/*.work-plan-image {
	text-align: center;
}
*/
/*

.word-work-plan {
	text-align: center;
	padding: 10px 0;
}

.word-work-plan h2 {
	font-size: 35px;
}

.plan {
	font-size: 1.3rem;
	display: flex;
	flex-direction: column;
}

.plan i {
	padding-top: 15px;
	font-size: 70px;
}
*/
.fourth-section {
	margin-top: 30px;
	padding: 20px 0;
	background-color: #2E2E2E;
	color: white;
}

.reviews {
	text-align: center;
	padding-top: 30px;
}

.reviews h2 {
	font-size: 40px;
}

.footer form {
	padding-top: 20px;
}

.footer form p {
	padding-left: 50px;
	text-align: left;
}



.contact_form label {
	width:150px;
	margin-top: 3px;
	display:inline-block;
	float:left;
	padding:3px;
}

.contact_form button {
	margin-left:150px;
}

button.submit:hover {
	cursor: pointer; 
}

.adress {
	padding: 20px 0;
}

.final-call {
	font-size: 30px;
	padding: 0 0 15px 30px;
}

.your {
	text-decoration: underline;
	cursor: pointer;
}

.number, .name, .call {	
	padding: 0 0 0 30px;
	font-size: 20px;
	text-align: left;
}


@media only screen and (max-width: 1349px) {
	.box {
		display: none;
	}
}


@media only screen and (max-width: 820px) {


	#back-top {
	position: fixed;
	bottom: 15px;
	margin-left: 15px;
	}

	#back-top a {
	width: 50px;
	font-size: 9px;
	}

	#back-top span {
	width: 50px;
	height: 50px;
	background-size: 50% 50%;
	}	

	h1 {
	font-size: 34px;
	}

	.main p {
	font-size: 22px;
	}

	.bigger {
	font-size: 28px
	}
}


@media only screen and (max-width: 500px) {
	h1 {
	font-size: 28px;
	}

	.main p, .footer p {
	font-size: 15px;
	}

	.bigger {
	font-size: 20px
	}

	.footer textarea {
	width: 270px;
}
}